{{ define "main" }}
<div class="narrow mx-auto py-3">
  <main>
    {{ range .Pages.GroupByParam "composer" }}
      <h3>{{ .Key }}</h3>
      {{ range .Pages.ByParam "id" }}
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="card-body">
                <h5 class="card-title">{{ .Title }}</h5>
                <div class="hstack gap-2">
                  {{ if .Params.opus }}
                  <h6 class="card-subtitle text-muted">{{ .Params.opus }}</h6>
                  <div class="vr"></div>
                  {{ end }}
                  <h6 class="card-subtitle text-muted">{{ .Params.id }}</h6>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <a href="{{ .RelPermalink }}">
                {{ $image := .Resources.GetMatch "incipit.svg" }}
                <img src="{{ $image.RelPermalink }}" class="img-fluid" alt="{{ .Title }}">
              </a>
            </div>
          </div>
        </div>
      {{ end }}
    {{ end }}
  </main>
</div>
{{ end }}
