{{ define "main" }}
<main>
{{ range .Sections }}
  <div class="narrow mx-auto py-3">
    <h3>{{ .Title }}</h3>
    {{ .Content }}
  </div>
  {{ range .Sections }}
    <div class="narrow mx-auto py-2">
      <h4>{{ .Title }}</h4>
      {{ .Content }}
    </div>
    <div class="row row-cols-1 row-cols-lg-2 g-4 py-2">
    {{ range .Pages.ByWeight }}
      <div class="col">
        <div class="card h-100">
          <div class="card-body text-center">
            <h5 class="card-title">{{ .Title }}</h5>
            <h6 class="card-subtitle text-muted">{{ .Params.id }}</h6>
          </div>
          <a href="{{ .RelPermalink }}">
            {{ with .Resources.GetMatch "incipit.svg" }}
              <img src="{{ .RelPermalink }}" class="card-img-bottom" alt="{{ .Title }}">
            {{ end }}
          </a>
        </div>
      </div>
    {{ end }}
    </div>
  {{ end }}
{{ end }}
</main>
{{ end }}
