{{ define "main" }}
<div class="narrow mx-auto py-3">
  <main>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {{ range .Pages }}
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ .Title }}</h5>
            </div>
            <a href="{{ .RelPermalink }}">
              {{ $image := .Resources.GetMatch "diagram.svg" }}
              <img src="{{ $image.RelPermalink }}" class="card-img-bottom img-fluid user-select-none" alt="{{ .Title }}">
            </a>
          </div>
        </div>
      {{ end }}
    </div>
  </main>
</div>
{{ end }}
